{% extends 'admin_base.html.twig' %}

{% block title %} Blog List !{% endblock %}

{% block body %}

<div class="container">


        <div style="margin-top: 30px; margin-bottom: 20px"></<h3>List blogs</h3> | <a href="{{ path('create_blog') }}">Create a new blog</a></div>

        <table class="table">
                <thead class="thead-dark">
                <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Body</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for blog in blogs %}
                <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.body|slice(0,90) }}</td>
                        <td>{{ blog.createdAt|date }}</td>
                        <td><a href="{{ path('blog_edit',{ blog:blog.id }) }}">Edit</a></td>
                        <td><a href="{{ path('blog_delete',{ blog:blog.id }) }}">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
</div>

{% endblock %}
