{% extends 'base.html.twig' %}

{% block title %} Anasayfa {% endblock %}


{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h3 class="display-5"><small>{{ blog.createdAt|date('d. M Y') }}</small> {{ blog.title }}</h3>
            <hr class="my-4">
            <p>{{ blog.body|raw }}</p>

            <strong><a href="{{ path('user_blogs', {user: blog.user.id}) }}">Author: {{ blog.user.firstName }}</a></strong>
        </div>

        <h4>Comments</h4>

        <div class="comments">
            <div class="row">
                {% for comment in blog.comments %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            {{ comment.fullName }}
                        </div>
                        <div class="card-body">
                            {{ comment.comment }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="comment-form" style="margin-top: 30px">

            {% include 'partials/errors.html.twig' %}

            <form action="{{ path('comment_save', {blog:blog.id}) }}" method="post">
                <input type="hidden" name="blog_id" value="{{ blog.id }}">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" name="fullName" class="form-control" id="exampleInputPassword1" placeholder="your name" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email(optional)</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Url(optional)</label>
                    <input type="text" name="url" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Comment</label>
                    <textarea class="form-control" name="comment" id="comment" cols="30" rows="10" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

{% endblock %}